@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
$textColor: #2C2738;;
$background: rgb(185, 178, 178);
$fontFamily: 'IBM Plex Sans', sans-serif;
$formTextColor: #756F86;